img {
    width: 300px;
    height: 300px;
}
.card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.infoCell {
    width: 220px;
}
.list-group-item {
    color: #000000;
    text-align: center;
}
.contact_footer {
    color: white;
}