.JumboImage {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form_col {
  background-color: #c5d5cb;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 10px;
  -webkit-border-radius: 36px 12px;
}

.form_col:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form_update {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}