.JumboImage {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.card {
  text-align: center;
  border: 5px solid #42c2f5;
}
.card-text {
  color: #000;
  text-align: center;
}
.card-p {
  color: #000;
  text-align: center;
}
.card-body {
  text-align: center;
}