.JumboImage {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.card {
  text-align: center;
}
.card-text {
  color: #000;
  text-align: center;
  font-family: "Allura";
  font-weight: bold;
  font-size: 20px;
}
.card-p {
  color: #000;
  text-align: center;
  font-family: "Allura";
  font-weight: bold;
}
.card-body {
  text-align: center;
  background-color: #c5d5cb;
}
.list-group {
  background-color: #c5d5cb;
}