@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

.HomeImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.JumboImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.BrandH1 {
  color: white;
  font-family: "Allura", cursive;
  font-size: 76px;
}
.contact_footer {
  color: white;
}
.spinner_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}
.footer_container {
  visibility: hidden;
}