.HomeImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.JumboImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}